<template>

  <div>
    <navbar></navbar>

    <div id="wrapper">
      <!-- header -->
      <div id="header">
        <h1><a v-link="'/'">Bibliothèque d'Henri Potier</a></h1>
      </div>
      <!-- main view -->
      <router-view
        class="view"
        keep-alive
        transition
        transition-mode="out-in">
      </router-view>
    </div>
  <div>

</template>


<script>
import Navbar from './Navbar.vue'

export default {

  name: 'App',

  components: {
    Navbar
  },

  data () {
    return {
      navbar: Navbar
    }
  },

  events: {
    // get the event from cart, broadcast to CartReviewVue
    'refresh-offers' () {
      this.$broadcast('refresh-offers');
    }
  }
}
</script>

<style lang="stylus">
// Global CSS


html, body
  font-family 'Open Sans', Verdana, sans-serif
  font-size 13px
  height 100%
  padding-top 30px

ul
  list-style-type none
  padding 0
  margin 0

a
  color #000
  cursor pointer
  text-decoration none

.view
  width 100%
  transition opacity .2s ease
  &.v-enter, &.v-leave
    opacity 0

.link-danger
  color firebrick !important
  opacity 0.6
  &:hover, &:active, &:focus
    color firebrick !important
    opacity 1

.fade-transition 
  transition all .3s ease
.fade-enter, .fade-leave 
  padding 0 10px
  opacity 0


.icon-loader
  animation: spin 1150ms infinite linear;

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}

</style>
