<template>
  <div class="col-md-6">
    <div class="book panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Détails du livre</h3>
      </div>
      <div class="panel-body" v-if="infos.description">

        <p class="text-muted">Auteur</p>
        <p>{{ infos.author }}</p>
        <p class="text-muted">Description</p>
        <p>{{ infos.description }}</p>
        <p class="text-muted">Date de publication</p>
        <p>{{ infos.publishDate }}</p>
        <p class="text-muted">Note du livre</p>
        <p class="star">{{{ infos.rating | toStars }}}</p>

      </div>
      <div v-else>
        <p class="loading">
          <i class="icon-loader glyphicon glyphicon-refresh"></i>
        </p>
      </div>
    </div>
  </div>
</template>

<script>
export default {

  name: 'BookInfo',

  props: {
    infos: Object
  }
}
</script>

<style lang="stylus" scoped>

.star
  color #ffc800
  font-size 1.1em

.loading
  color #444444
  text-align center
  font-size 5em
  text-shadow 0 0 3px #888888
  line-height: 5em
  
</style>
