<template>
  <div class="book-view">
    <div class="row">
      <book :book="book"></book>
      <book-info :infos="infos"></book>
    </div>
  </div>
</template>

<script>
import store from '../store';
import Book from './Book.vue';
import BookInfo from './BookInfo.vue';

export default {

  name: 'BookView',

  components: {
    Book,
    BookInfo
  },

  data () {
    return {
      book: {},
      infos: {}
    }
  },

  route: {
    data ({ to }) {
      var isbn = to.params.isbn;
      this.book = store.getCache(isbn);
      this.infos = {};

      store.fetchBooksInfos(isbn).then(response => {
        this.infos = response;
      });

      document.title = this.book.title + ' - Xebia'
    }
  }
}
</script>

<style lang="stylus" scoped>


</style>
