<template>
  <div class="col-md-6">
    <div class="book panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><a class="title" v-link="href">{{ book.title }}</a></h3>
      </div>
      <div class="panel-body">

        <div class="row">
          <div class="col-xs-7">
            <p class="text-muted">ISBN</p>
            <p class="isbn">{{ book.isbn }}</p>
            <p class="text-muted">Prix</p>
            <p class="price">{{ book.price | toPrice }}</p>
          </div>
          <div class="col-xs-5">
            <p class="text-right">
              <img class="cover" :src="book.cover" />
            </p>
          </div>
        </div>

        <p>
          <button class="btn btn-block btn-primary" @click="addToCartExpress" data-isbn="{{ book.isbn }}">
            Ajout au panier <i class="glyphicon glyphicon-shopping-cart"></i>
          </button>
        </p>
      </div>
    </div>
  </div>
</template>

<script>
import store from '../store';

export default {

  name: 'Book',

  props: {
    book: Object
  },

  computed: {
    href () {
      return '/list/' + this.book.isbn;
    }
  },

  methods: {
    addToCartExpress: (e) => {
      store.addCartBook(e.target.dataset.isbn);
    }
  }
}
</script>

<style lang="stylus" scoped>

.cover
  max-width 100%
  max-height 275px
</style>
