<template>

  <div id="cart-wrapper">
    <span class="navbar-text navbar-text-padding" id="cart" @click="toggleCartPopup">
      <span class="badge" :class="{ 'active': activeCartClass }" id="cart-badge"><i class="glyphicon glyphicon-shopping-cart"></i> {{ books.length }}</span>
    </span>

    <div class="cart-popup" v-show="showCart" transition="fade-cart">
      <div v-if="books.length > 0">
        <ul>
          <li v-for="book in books" track-by="$index" transition="fade">
            <span class="pull-right">
              <span class="label label-warning">{{ book.price | toPrice }}</span>
            </span>
            {{ book.title }}
            <button @click="removeBookCart(book)" class="btn-link link-danger">
              <i class="glyphicon glyphicon-remove"></i>
            </button>
          </li>
        </ul>
        <p id="p-btn-buy">
          <a class="btn btn-primary btn-sm btn-block" @click="closeCartPopup" v-link="'/cart-review'">Commander <i class="glyphicon glyphicon-chevron-right"></i></a>
        </p>
      </div>
      <div v-else @click="closeCartPopup">
        <p class="text-muted text-center cart-empty-text">Votre panier est vide</p>
      </div>
    </div>
  </div>

</template>



<script>
import store from '../store'

export default {

  name: 'Cart',

  data () {
    return {
      books: store.getCart(),
      showCart: false,
      activeCartClass: false
    }
  },

  methods: {
    removeBookCart (book) {
      store.removeCartBook(book);
      // dispatch to App, broadcast to cartViewReview
      this.$dispatch('refresh-offers');
    },
    toggleCartPopup () {
      this.showCart = !this.showCart;
    },
    closeCartPopup () {
      this.showCart = false;
    }
  },

  watch : {
    // Little transition on cart badge
    books (value) {
      this.activeCartClass = true;
      setTimeout(() => { this.activeCartClass = false; }, 200);
    }
  }

}
</script>


<style lang="stylus" scoped>
#cart-wrapper
  position relative
  
.navbar-text-padding
  padding 15px
  margin 0
  cursor pointer
  &:hover
    #cart-badge
      box-shadow 0 0 7px #888888

#cart-badge
  transition box-shadow .2s, transform .2s
  &.active
  	transform scale(1.2, 1.2)

.cart-popup
  position absolute
  top 50px
  right 0
  border 1px solid black
  width 400px
  min-height 50px
  background-color #FFFFFF
  padding 5px
  max-height 80vh
  overflow auto
  opacity 0.98
  box-shadow 0 0 6px #888;

.cart-empty-text
  line-height 50px
  margin 0

#p-btn-buy
  margin 5px 0

.fade-cart-transition
  transition all .3s ease
  overflow hidden
  min-height 0

.fade-cart-enter, .fade-cart-leave
  height 0
  opacity 0

.fade-cart-leave 
  padding 0


</style>
