<template>
  <div class="cart-review-view">
    <div v-if="books.length > 0">
      <table class="table">
        <thead>
          <tr>
            <th>Livre</th>
            <th>Prix</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="book in books" track-by="$index" transition="fade">
            <td><a v-link="'/list/'+book.isbn">{{ book.title }}</a></td>
            <td class="text-right">{{ book.price | toPrice }}</td>
            <td>
              <button @click="removeBookCart(book)" class="btn-link link-danger">
                <i class="glyphicon glyphicon-remove"></i>
              </button>
            </td>
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <td class="text-right">Total</td>
            <td class="text-right">{{ totalPrice | toPrice }}</td>
            <td></td>
          </tr>
          <tr>
            <td class="text-right bold">{{ totalTypeOffer }}</td>
            <td class="text-right bold">-{{ totalDiscount | toPrice }}</td>
            <td></td>
          </tr>
          <tr>
            <td class="text-right">Total après réduction</td>
            <td id="total-price" class="text-right">{{ totalPriceWithBestOffer | toPrice }}</td>
            <td></td>
          </tr>
        </tfoot>
      </table>
      <span><a class="btn btn-primary btn-sm btn-block" title="Impossible pour le moment" @click="showModal">Finaliser l'achat</a></span>
    </div>
    <div v-else>
      <p class="text-muted text-center cart-empty-text">Votre panier est vide</p>
      <p class="text-center"><a v-link="'/list'">Retour à la liste des livres</a></p>
    </div>



    <!-- Modal -->
    <div class="modal fade" id="modal-buy" tabindex="-1" role="dialog" aria-labelledby="modal-buy-label">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="modal-buy-label">Finalisation de l'achat</h4>
          </div>
          <div class="modal-body">
            <p>Impossible de finaliser l'achat pour le moment !</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary" data-dismiss="modal">Ok :(</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import store from '../store'

export default {

  name: 'CartReviewView',

  data () {
    return {
      books: store.getCart(),
      offers: {},
      bestOffer: {
        name: '',
        value: ''
      }
    }
  },

  computed: {
    totalPrice () {
      return this.getTotalPrices();
    },
    totalTypeOffer () {
      return this.bestOffer.name || '';
    },
    totalPriceWithBestOffer () {
      return this.bestOffer.value || '';
    },
    totalDiscount () {
      return this.totalPrice - this.bestOffer.value;
    }
  },

  methods: {
    removeBookCart (book) {
      store.removeCartBook(book);
      // offers update
      this.updateOffers();
    },
    getIsbns () {
      return this.books.map(book => book.isbn);
    },
    fetchOffers (isbns) {

      const self = this;
      store.fetchOffersByIsbns(isbns).then(response => {
        
        const bestOffer = store.getBestOffer(response.offers, this.getTotalPrices());

        self.offers = response.offers;
        self.bestOffer = bestOffer;
      });
    },
    updateOffers () {
      this.fetchOffers(this.getIsbns());
    },
    getTotalPrices () {
      // if one book
      if(this.books.length === 1) return this.books[0].price;
      // else reduce on array
      else return this.books.reduce( (oldVal, newVal) => (typeof oldVal === 'object' ? oldVal.price : oldVal) + newVal.price);
    },
    showModal (e) {
      e.preventDefault();
      $('#modal-buy').modal('show');
    },
  },

  route: {
    data ({ to }) {
      document.title = 'Récapitulatif du panier - Xebia'

      // get cart offers
      this.updateOffers();
    }
  },

  events: {
    // get App event
    'refresh-offers': function () {
      this.updateOffers();
    }
  }
}
</script>

<style lang="stylus" scoped>
#total-price
  font-weight bold
  font-size 1.3em

.bold
  font-weight bold

</style>
