<template>
  <div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Formulaire de contact</h3>
      </div>
      <div class="panel-body">
        <p>Pour toute question, n'hésitez pas à nous contactez via ce formulaire</p>
        <form action="" method="post" @submit="showModal">
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label for="firstname">Prénom</label>
                <input type="text" class="form-control" id="firstname" placeholder="Prénom">
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="lastname">Nom</label>
                <input type="text" class="form-control" id="lastname" placeholder="Nom">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label for="email" class="required">Email</label>
                <input type="email" class="form-control" id="email" placeholder="Email" required>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label for="message" class="required">Message</label>
                <textarea id="message" class="form-control textarea" required rows="8"></textarea>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <button type="submit" class="btn btn-block btn-primary">Envoyer</button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="modal-contact" tabindex="-1" role="dialog" aria-labelledby="modal-contact-label">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="modal-contact-label">Confirmation d'envoi du message</h4>
          </div>
          <div class="modal-body">
            <p>Votre message a été envoyé avec succès !</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary" data-dismiss="modal">Ok !</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>



<script>
export default {

  name: 'ContactView',

  route: {
    data ({ to }) {
      document.title = 'Contactez-nous ! - Xebia'
    }
  },

  methods: {
    showModal (e) {
      e.preventDefault();
      $('#modal-contact').modal('show');
    },
  }

}
</script>

<style lang="stylus" scoped>
.required:after
  content " *"
  color firebrick

.textarea
  max-width 100%
  
</style>
