<template>
  <div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h2 class="panel-title">Mentions Légales</h2>
      </div>
      <div class="panel-body">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam eu porta est. Morbi pellentesque, lorem ut dictum hendrerit, tellus metus aliquet nisi, non congue lectus ipsum sit amet lectus. Morbi non dignissim elit. In suscipit interdum elit a tempus. Etiam a tempor odio. Maecenas porta sem ornare, bibendum est a, iaculis sapien. Aliquam tempor lorem id erat posuere, nec consequat dui suscipit. Nam quis facilisis libero.
          <br /><br />
          Ut pellentesque pharetra lacus ut porttitor. Nunc placerat eleifend tortor auctor eleifend. Etiam pellentesque tincidunt risus, ac elementum velit imperdiet sit amet. Morbi dui nunc, posuere vel aliquet a, malesuada ultrices velit. Vestibulum facilisis commodo mi, nec fermentum lorem vehicula tempus. Praesent quis mauris quis eros ultrices fringilla sit amet nec nibh. Integer ullamcorper dolor eget orci maximus porttitor. Vivamus pellentesque blandit sapien id tempus. Suspendisse dictum tortor a enim molestie, eget vehicula nisi malesuada. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Curabitur feugiat finibus ex. Vivamus bibendum ac turpis ac commodo. Donec sit amet tortor dapibus, facilisis nunc at, molestie lectus.
          <br /><br />
          Cras est ex, vulputate non lectus at, faucibus fringilla neque. Donec mollis tempus mauris lobortis feugiat. Proin congue tellus sit amet libero scelerisque dignissim. Fusce nulla enim, porta sed egestas at, efficitur ac ante. Nam tincidunt risus mi, ac blandit dolor rhoncus nec. Mauris et rhoncus sapien. Pellentesque vehicula efficitur massa. Etiam in ipsum sem. Etiam tortor urna, mollis eget blandit eu, commodo in sapien. Donec bibendum id ante eu congue.
          <br /><br />
          Aenean quis viverra arcu. Nulla nibh velit, mollis eu euismod sit amet, facilisis a ligula. Mauris semper sapien at ex pretium hendrerit. In at quam ut magna luctus interdum et ac dolor. Fusce iaculis, lorem non accumsan maximus, urna odio ullamcorper erat, elementum pharetra mauris erat a ex. Quisque ac ligula ultricies, imperdiet odio dapibus, ultricies ligula. Curabitur rhoncus feugiat libero, at lobortis urna bibendum mollis. Curabitur at felis vel lorem ornare accumsan sed sed lorem. Duis semper quam elit, eu sodales libero pulvinar quis.
          <br /><br />
          Donec velit sapien, sagittis et nisi eget, mollis condimentum libero. Fusce eu urna est. Duis ac tempor odio. Sed a urna dui. Suspendisse vel dolor consequat, gravida ipsum vel, suscipit mauris. Aenean tristique turpis et lorem scelerisque fringilla. Nunc ut nisi imperdiet quam feugiat scelerisque. Sed eget tellus elit. Suspendisse feugiat blandit quam, accumsan dignissim erat laoreet sed. 
        </p>
      </div>
    </div>
</template>



<script>
export default {

  name: 'GeneralConditionsView',

  route: {
    data ({ to }) {
      document.title = 'Mentions Légales - Xebia'
    }
  }

}
</script>

<style lang="stylus" scoped>
  
</style>
