<template>
  <div class="row list-view">
    <!-- book list -->
    <book
      v-for="book in books"
      :book="book"
      :index="isbn"
      track-by="isbn">
    </book>
  </div>
</template>

<script>
import store from '../store';
import Book from './Book.vue';

export default {

  name: 'ListView',

  components: {
    Book
  },

  data () {
    return {
      books: []
    }
  },

  route: {
    data ({ to }) {
      document.title = 'Liste des livres - Xebia';
      this.fetchBooks();
    }
  },

  methods: {
    fetchBooks () {
      const self = this;
      store.fetchBooks().then(response => {
        self.books = response;
      });
    }
  }
}
</script>

<style lang="stylus" scoped>

</style>
