<template>
  
	<nav class="navbar navbar-default navbar-fixed-top">
	  <div class="container">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" v-link="'/'">Bibliothèque Xebia</a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="navbar-collapse">
        <ul class="nav navbar-nav">
          <li v-link-active><a v-link="{ path: '/list', activeClass: 'active' }">Liste des livres</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li v-link-active><a v-link="{ path: '/contact', activeClass: 'active' }">Contact</a></li>
          <li v-link-active><a v-link="{ path: '/general-conditions', activeClass: 'active' }">Mentions Légales</a></li>
          <li><cart></cart></li>
        </ul>
      </div><!-- /.navbar-collapse -->
	  </div><!-- /.container -->
	</nav>

</template>

<script>
import Cart from './Cart.vue'

export default {

  name: 'Navbar',

  components: {
    Cart
  },

  data () {
    return {
      cart: Cart
    }
  }
}
</script>

<style lang="stylus" scoped>
</style>
